<html>

<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <header>
        <h1>About</h1>
    </header>
    <div>
        <a href="/home">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <img src="/img/profile.jpg" id="img1">
    <footer>
        <p>Created by saravanapriya</p>
    </footer>
</body>

</html>