#img{
    height:50px;
    width:50px;
}

header{
    color:red;
}

a{
    color:greenyellow;
    text-decoration:none;
    padding-right:15px;
}

footer{
    margin-top:16px;
    border-top: 1px black solid;
    color:blue;
}

div{
    margin-bottom: 5px;
}
